<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login | DevTrack</title>
<link rel="icon" type="image/png" href="/fav1.png">
<script src="https://unpkg.com/lucide@latest"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/auth.css">
</head>
<body class="auth-page">
<div class="auth-wrapper">
    <div id="error-toast" class="toast hidden">
    <span class="toast-icon">❌</span>
    <span class="toast-text"></span>
    </div>
    <div class="auth-container">
    <h1 class="logo">DevTrack</h1>
    <h2 class="entry">LOGIN</h2>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="E-mail" required>
        <div class="input-group">
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
            minlength="6"
            required
        >
        <span class="toggle-password" onclick="togglePassword()">
            <i data-lucide="eye"></i>
        </span>
        </div>
        <button type="submit">Entrar</button>
        <a href="/auth/google" class="google-btn">
  <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google"> 
  <span>Continuar com Google</span>
</a>
    </form>
    </div>
    <p class="auth-link">
    NÃO TEM CONTA?
    <a href="/register">CADASTRE-SE</a>
    </p>
</div>
<script>
const params = new URLSearchParams(window.location.search);
const error = params.get("error");
const success = params.get("success");

if (error || success) {
    const toast = document.getElementById("error-toast");
    const text = toast.querySelector(".toast-text");
    const icon = toast.querySelector(".toast-icon");

    text.textContent = error || success;
    icon.textContent = error ? "❌" : "✅";

    toast.classList.remove("hidden");

    setTimeout(() => {
        toast.classList.add("hidden");
    }, 3000);
}

lucide.createIcons();

function togglePassword() {
    const input = document.getElementById("password");
    const icon = document.querySelector(".toggle-password i");

    if (input.type === "password") {
        input.type = "text";
        icon.setAttribute("data-lucide", "eye-off");
    } else {
        input.type = "password";
        icon.setAttribute("data-lucide", "eye");
    }

    lucide.createIcons();
}
</script>
</body>
</html>